<header class="header{{navbar.headerClass}}">
  <div class="container{{navbar.containerClass}}">
    <div class="navbar{{navbar.navbarClass}}">
      <div class="navbar-start{{navbar.navbarStart}}">
        {{#each start.components}}
        {{> (lookup . "type") this}}
        {{/each}}
      </div>
      <div class="navbar-center{{navbar.navbarCenter}}">
        {{#each center.components}}
        {{> (lookup . "type") this}}
        {{/each}}
      </div>
      <div class="navbar-end{{navbar.navbarEnd}}">
        <!-- <a class="{{right.class}}">{{right.text}}</a> -->
        {{>grid right}}
      </div>
    </div>
  </div>
</header>