.splide {
  /* max-width: calc(100vw - 32px); */
  @apply min-h-[364px];
}

.splide__arrow {
  @apply md:!w-14 md:!h-14;
}

.splide__arrow svg {
  @apply md:!w-10 md:!h-10;
}

/* .splide__arrow--prev {
  @apply !-left-4 md:!-left-6;
}
.splide__arrow--next {
  @apply !-right-4 md:!-right-6;
} */

#main-slider .splide__arrow {
  @apply !rounded-none !bg-transparent top-full md:!top-[26%] lg:!top-[50%] 2xl:!top-1/2;
  border: 1px solid oklch(var(--s)) !important;
}

#main-slider .splide__arrow--prev {
  @apply xl:!left-4 2xl:!left-2;
}

#main-slider .splide__arrow--next {
  @apply md:!right-4 2xl:!right-2;
}

#main-slider .splide__pagination {
  @apply bottom-[37.5%] md:bottom-40 lg:bottom-72 gap-1 left-0 flex h-3 w-1/4 lg:w-full lg:justify-start lg:px-12 flex-nowrap;
}

/* #main-slider .splide__pagination {
  @apply bottom-[37.5%] lg:bottom-0 md:flex container mx-auto gap-6 justify-between;

  &.many-slides {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;

    .splide__pagination__page {
      flex: none;
      min-width: max-content;
    }
  }
} */

#main-slider .splide__pagination__page {
  @apply relative !bg-base-100 !w-[.3333rem] md:!w-[.666666667rem] !h-[.3333rem] md:!h-[.666666667rem];
  /* flex: 1 1 auto; */
  /* min-width: 0; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}

/* Вариант 1: через vertical-align */
/* #main-slider .splide__pagination__page::before {
  content: attr(data-number);
  vertical-align: super;
  font-size: 10px;
  margin-right: 4px;
} */

/* #main-slider .splide__pagination__page::after {
  content: attr(data-text);
  color: inherit;
} */

#main-slider .splide__pagination__page.is-active {
  /* background-color: transparent !important; */
  @apply !bg-accent;
}

.card .btn svg {
  @apply text-base-100 hover:!text-secondary transition-all ease-in-out duration-75;
}

.reviews-slider {
  @apply h-auto;
}

#main-slider .card.image-full:before {
  background-color: transparent;
}