<div class="card {{cardClass}}">
  {{#if cardPicture}}
  <figure>
    {{>picture picture}}
  </figure>
  {{/if}}
  <div class="{{cardBodyClass}}">
    {{#if heading.rating}}
    <div class="reviews-title flex gap-6">
      {{>rating heading.rating}}
      <h3 class="{{heading.titleClass}}">{{heading.title}}</h3>
    </div>
    {{/if}}
    {{#if (and heading.title (not heading.rating))}}
    {{#if icon}}
    {{>icon icon}}
    {{/if}}
    <h3 class="{{heading.titleClass}}">{{heading.title}}</h3>
    {{/if}}
    {{#if heading.description}}
    <p class="{{heading.descriptionClass}}">{{heading.description}}</p>
    {{/if}}
    {{#if cardComponents}}
    {{#each cardComponents}}
    {{> (lookup . "type") this}}
    {{/each}}
    {{/if}}
    {{#if cardActions}}
    <div class="card-actions {{cardBtn.cardActionsClass}}">
      {{>button button}}
    </div>
    {{/if}}
  </div>
</div>