{{!-- components/list-definition.html context list.js/definitionList --}}
<dl class="{{class}}">
  <div class="dl-overlay"></div>
  {{#each items}}
  <div class="{{dlContainerClass}}">
    <dt class="font-bold {{dtClass}}">{{#if link}}
    <a href="{{link}}" class="link no-underline">{{term}}</a>
    {{else}}
    <span class="text-muted">{{term}}</span>
    {{/if}}</dt>
    <dd class="{{ddClass}}">
      {{#if link}}
      <a href="{{link}}" class="link no-underline">{{value}}</a>
      {{else}}
      <span class="text-muted">{{value}}</span>
      {{/if}}
    </dd>
  </div>
  {{/each}}
</dl>