{{#if container}}

<div class="{{containerClass}}">
  {{#if caption}}
  <p class="{{captionClass}}">{{captionText}}</p>
  {{/if}}

  {{#if title}}
  <h{{titleLevel}} class="{{titleClass}}">{{title}}</h{{titleLevel}}>
  {{/if}}
  {{#if description}}
  {{#isArray description}}
  <div class="description {{descriptionClass}}">
    {{#each description}}
    <p class="text-primary text-h3-clamp">{{this}}</p>
    {{/each}}
  </div>
  {{else}}
  <p class="{{descriptionClass}}">{{description}}</p>
  {{/isArray}}
  {{/if}}
</div>

{{else}}

{{#if caption}}
<p class="{{captionClass}}">{{captionText}}</p>
{{/if}}
{{#if title}}
<h{{titleLevel}} class="{{titleClass}}">{{title}}</h{{titleLevel}}>
{{/if}}
{{#if description}}
<p class="{{descriptionClass}}">{{description}}</p>
{{/if}}

{{/if}}